body {
    font-family: "Rubik";
    display: flex;
    padding: 0%;
    margin: 0;
    flex-wrap: wrap;
    flex: 1;
}



.section1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 5px 250px 40px;
    flex-wrap: wrap;
    flex: 1;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 10px;
}
.website {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 70px 0;
}

.awesome {
    flex: 1;
    align-items: flex-start;
}

.section1 img  {
    height: 250px;
    flex: 0 0 0;
    align-items: stretch;
    max-width: 100%;
}

.awesome button {
    background-color: #0aa3eb;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding:5px 20px;
    font-weight: bold;
}

.header-list h2 {
    color:#F9FAF8;
    font-size: 28px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.awesome h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.section2 {
   padding: 5px 250px 40px;;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   flex: 1;
}

.animals img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #0aa3eb;
    border-radius: 10px;
}

.animals {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.animals p {
    font-size: larger;
    width: 150px;
    min-width: 100%;
    text-align: center;
}

.section2 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section2 p {
    font-size: 18px;
    color: hsl(240, 1%, 69%);
}